node_modules/

# Ignore Logs
logs
*.log

# Ignore the build directory
*.webpack
*.serverless

# The file containing environment variables 
.env.*

# Ignore IDE specific files
.idea/
.vscode/
*.sw*
*.DS_Store

# environments
env.*